<div id="footer" class="span12">
    <div class="well well-small clearfix">
        <span>(c) 2012 Robin van der Knaap</span>
        <span class="pull-right">Powered by <a href="http://orchardproject.net">Orchard CMS</a></span>
    </div>
</div>